:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --font-family: "Outfit", sans-serif;
  --font-size-body: 15px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--slate-300);
}

.card {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 13px;
  text-align: center;
  max-width: 300px;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card .body {
  padding: 0 13px;
  margin-bottom: 20px;
}

.card h1 {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  color: var(--slate-900);
  margin-bottom: 15px;
}

.card p {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  color: var(--slate-500);
}

footer.attribution {
  text-align: center;
  font-size: 12px;
  color: var(--slate-500);
  padding: 20px;
  font-family: var(--font-family);
}
footer.attribution a {
  color: var(--slate-900);
  text-decoration: none;
}

footer.attribution a.me {
  color: hsl(216.41deg 95.37% 57.65%);
  font-weight: var(--font-weight-bold);
}
